html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        transition: all 0.15s;
    }
    i {
        margin-right: 15px;
        color: #f9ca24;
    }
}


body {
    font-family: Lato;
    font-weight: 300;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #6ab04c;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    text-align: center;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

.bg-image {
    background-image: url(../img/background1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    filter: blur(5px);
}

.btn-new {
    position: absolute;
    width: 200px;
    top: 5%;
}

.btn-roll {
    position: absolute;
    top: 62%;
}

.btn-hold {
    position: absolute;
    top: 72%;
}

.player-0-panel,
.player-1-panel {
    padding: 100px 0;
    height: 550px;
    width: 100%;
}
.active .player-name {
    font-weight: 300;
    &:after,
    &:before {
        content: "\22C6";
    }
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

.player-name {
    font-weight: 100;
    font-size: 50px;
    margin: 10px 0;
    text-transform: uppercase;
    color: #ffffff;
}



.player-score {
    font-weight: 100;
    font-size: 70px;
    margin: 10px 0 100px 0;
    text-transform: uppercase;
    color: #f9ca24;
}

.player-current-box {
    background: #f9ca24;
    width: 100px;
    margin: 0 auto;
}

.player-current-label {
    padding: 10px 0;
}

.player-current-score {
    padding: 10px 0;
    font-size: 25px;
    font-weight: 300;
}

.dice {
    position: absolute;
    width: 100px;
    top: 30%;
}